<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Lean Gainz Meal Prep</title>
</head>
<body>
  <nav>
    <ul class="navbar">
      <li><a href="/">HOME</a></li>
      <li><a href="/meals">MEALS</a></li>
      <li><a href="/cart">CART</a></li>
      <li>  <% if (user) { %>
            <a href="/logout">LOG OUT</a>
            <% } else { %>
               <a href="/auth/google" class="login">LOG IN&nbsp;</a>
              <% } %></li>
    </ul>          
  </nav>
  <main>
