<%- include('./partials/header') %>

<main>

    
    <section id="intro">
        <h1>Welcome to Lean Gainz Meal Prep</h1>
        <p>Our meals are not only delicious but also calorie-conscious. We understand the importance of nutrition in achieving your fitness goals. That's why we have carefully crafted a menu that offers a balanced nutrition with the right amount of protein, carbs and fats.</p>
    </section>

    <section id="meals">
        <h2>Delicious & Nutritious Meals</h2>
        <p>We offer a wide variety of meals to choose from. Each meal is carefully prepared with fresh ingredients and is portion controlled to help you stay on track with your fitness goals.</p>
    </section>

    <section id="cart">
        <h2>Easy Online Ordering</h2>
        <p>Ordering your meals is easy. Just select the meals you want, add them to your cart and checkout. We will prepare your meals and have them ready for pickup or delivery.</p>
    </section>
</main>

<%- include('./partials/footer') %>
