<%- include('../partials/header') %>

<!DOCTYPE html>
<html>
<head>
    
</head>
<body>
    <h1>All Meals</h1>
    
    <form action="/add-to-cart" method="post">
        <ul>
            <% allMeals.forEach(meal => { %>
                <li>
                    <span><%=meal.name %></span>
                    <!-- Quantity Input for each meal -->
                    <input type="number" min="0" name="mealQty_<%= meal._id %>" value="<%= (selectedMealsMap[meal._id] || {}).quantity || 0 %>">
                    <!-- ... rest of your code for displaying each meal -->
                </li>
            <% }) %>
            
        </ul>

        <select name="mealPlanType">
            <option value="basic">Basic - 7 Meals</option>
            <option value="pro">Pro - 10 Meals</option>
            <option value="gainz">Gainz - 14 Meals</option>
        </select>
        <input type="submit" value="Add to Cart">
    </form>
</body>
</html>
